@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--color-background);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-content);
    background-color: var(--color-background);
  }
}

@font-face {
  font-family: "Styrene B";
  src: url("./assets/fonts/StyreneB-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Styrene B";
  src: url("./assets/fonts/StyreneB-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Styrene B";
  src: url("./assets/fonts/StyreneB-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Styrene B", system-ui, sans-serif;
  --color-primary: #ec1f27;
  --color-background: #fde0d1;
  --color-background-secondary: #f9b9af;
  --color-content: #2f0607;
}
